@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);

  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}

body {
  font-family: 'Open Sans', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  margin-bottom: 6rem;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.2rem 0.8rem;
  border-radius: 2rem;
  background-color: transparent;
  border: 1px solid var(--light-pink);
  font-weight: 400;
  font-size: 0.6rem;
}

.outline {
  color: var(--light-pink);
}

header img {
  width: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 6rem;
}

.header h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
}

.header p {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3rem;
  line-height: 1.5;
}

.header .btn.pink {
  font-size: 0.75rem;
  background-color: var(--pink);
  border: 0;
  color: #fff;
  padding: 0.7rem 2.3rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.header img {
  margin-top: 5rem;
  width: 100%;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.stats-div {
  margin-bottom: 4rem;
}

.stats-div img {
  width: 25px;
}

.stats-div h2 {
  text-align: center;
  font-size: 3.3rem;
  margin-bottom: 0.3rem;
}

.stats-div p {
  font-size: 0.8rem;
  color: #999;
  text-align: center;
}

.stats-div:nth-of-type(2) p {
  width: 50%;
  margin: 0 auto;
}
.attribution {
  text-align: center;
  display: none;
}
