@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);

  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  margin-bottom: 6rem;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.2rem 0.8rem;
  border-radius: 2rem;
  background-color: transparent;
  border: 1px solid var(--light-pink);
  font-weight: 400;
  font-size: 0.6rem;
}

.outline {
  color: var(--light-pink);
}

/* *********************** */
/* HEADER SECTION */
/* *********************** */

header img {
  width: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 6rem;
}

.header h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
}

.header p {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3rem;
  line-height: 1.5;
}

.btn.pink {
  font-size: 0.75rem;
  background-color: var(--pink);
  border: 0;
  color: #fff;
  padding: 0.7rem 2.3rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.header img {
  margin-top: 5rem;
  width: 100%;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats-div {
  margin-bottom: 4rem;
}

.stats-div img {
  width: 25px;
}

.stats-div h2 {
  text-align: center;
  font-size: 3.3rem;
  margin-bottom: 0.3rem;
}

.stats-div p {
  font-size: 0.8rem;
  color: #999;
  text-align: center;
}

.stats-div:nth-of-type(2) p {
  width: 50%;
  margin: 0 auto;
}

/* *********************** */
/* SECTION GROW TOGETHER */
/* *********************** */
.top-mobile {
  display: block;
}

.top-desktop {
  display: none;
}

.grow-together {
  margin-top: -3rem;
}

.illustration {
  width: 100%;

  background-color: #f6fbff;

  margin-top: -1rem;
  margin-bottom: -1rem;
  padding: 6rem 3rem 0 3rem;
}

.grow-together h3,
.flowing-conversations h3,
.your-users h3 {
  padding-top: 5rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}

.grow-together p,
.flowing-conversations p,
.your-users p {
  text-align: center;

  font-size: 0.85rem;
  line-height: 1.5;
  padding: 1rem 2rem 3rem 2rem;
}

.grow-together p,
.grow-together h3,
.your-users p,
.your-users h3 {
  background-color: #f6fbff;
}

.your-users .illustration {
  padding-top: 2rem;
}
.your-users p {
  padding-bottom: 6rem;
}

.flowing-conversations img {
  background-color: #fff;
  margin-bottom: -1rem;
  padding: 6rem 3rem 0 3rem;
  width: 100%;
}

.flowing-conversations p {
  margin-bottom: 5rem;
}

/* *********************** */
/* READY SECTION */
/* *********************** */
.ready {
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 10rem;
}

.ready h2 {
  margin-bottom: 3rem;
  font-size: 1.6rem;
}

.ready .btn.pink {
  font-size: 0.85rem;
}

/* *********************** */
/* NEWSLETTER SECTION */
/* *********************** */
.newsletter-box {
  margin-top: -0.3rem;
  padding: 3rem 2rem;
  background-color: var(--very-dark-cyan);
  color: #fff;
}
.newsletter-box h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.newsletter-box p {
  line-height: 1.5;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.newsletter-box input {
  display: block;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  margin-bottom: 1rem;
}

.newsletter-box button.btn.pink {
  display: block;
  float: right;
  border-radius: 0.2rem;
  font-size: 1rem;
}

/* *********************** */
/* FOOTER  */
/* *********************** */
footer {
  background-color: var(--very-dark-cyan);
  color: #fff;
  padding: 7rem 2rem 3rem;
}

footer img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  width: 13rem;
  margin-bottom: 1rem;
}

footer p {
  font-size: 0.9rem;
  line-height: 1.6;
}

footer > p {
  margin-bottom: 2rem;
}

.phone-box,
.mail-box {
  display: flex;
  column-gap: 1rem;
  font-size: 1.1rem;
}

.mail-box {
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

.phone-box .icona {
  transform: rotate(-40deg) translate(20%, 4%);
}

.icona a {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.attribution {
  text-align: center;
  display: none;
}

@media screen and (min-width: 768px) {
  body::after {
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    height: 5518px;
    width: 1440px;
    margin: 0 auto;

    position: absolute;
    z-index: -3;

    background: url('design/desktop-design.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
  }

  main {
    opacity: 0.7;
  }

  header {
    padding: 4.8% 9.5% 0;
    margin-bottom: 14.5rem;
  }
  header img {
    width: 235px;
    margin-left: 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.7rem;
    border-radius: 2rem;
    border: 2px solid var(--light-pink);
    font-weight: 600;
    font-size: 1rem;
  }

  main {
    max-width: 1200px;
    margin: 0 auto;
  }

  .header h1 {
    font-size: 2.99rem;
    margin-bottom: 1.4rem;
  }

  .header p {
    font-size: 1.25rem;
    letter-spacing: -0.02rem;
    margin-bottom: 3rem;

    padding: 0 15.4rem;
  }

  .btn.pink {
    font-size: 1.25rem;
    padding: 1.7rem 6.3rem;
    border-radius: 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 1.9rem;
  }

  .header img {
    margin-top: 5rem;
    margin-bottom: 0.5rem;
    width: 95%;
  }

  .stats {
    flex-direction: row;
    justify-content: space-around;
  }

  .stats-div img {
    width: 43px;
  }
  .stats-div:nth-of-type(2) img {
    margin-left: 0.8rem;
  }

  .stats-div h2 {
    font-size: 6rem;
    margin-bottom: 0.7rem;
  }

  .stats-div p {
    font-size: 1.4rem;
    text-align: center;
  }

  .stats-div:nth-of-type(2) p {
    width: 100%;
  }

  /* *********************** */
  /* SECTION GROW TOGETHER */
  /* *********************** */
  .top-mobile {
    display: none;
  }

  .top-desktop {
    display: inline-block;
    width: 100%;
  }
}
